/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

.caption {
	position: absolute;
	width: 180px;
}
.block-nice-menus {
	height: 3.9em
}
.nice-menu {
	letter-spacing: 0.1em;
}
.menu-path-node-1.first.odd {
	padding-left: 25px;
}
ul.nice-menu-down li {
	padding: 0 20px;
	display: inline;
}
ul.nice-menu ul li {
	display: block;
}
ul.nice-menu-down {
	float: none;
	width: auto;
}
ul.nice-menu li {
    padding: 1.2em 0;
}
ul.nice-menu li {
    float: left;
}
ul.nice-menu-down li {
    display: inline;
    padding: 0 5px;
}
.nice-menu li a {
	padding: 0.7em 0;
}
ul.nice-menu li li a:hover {
	background: rgba(0, 0, 0, 0) url("../images/greyarrow_down.png") no-repeat scroll center 	0%;
	height: 1em;
}
ul.nice-menu li a:hover,
ul.nice-menu li.menuparent:hover {
	background: rgba(0, 0, 0, 0) url("../images/greyarrow_up.png") no-repeat scroll center 100%;
}
h1.site-name, h2.site-name {
	font-size: 80px;
}
.block-views-gallery-portrait-block-1 {
	display: block;
}
.block-views-gallery-portrait-block-2 img {
	height: 720px;
} 
.block-block-3, 
.block-block-4, 
.block-block-2, 
.block-block-1 {
	width: 300px;
}
.region-postscript-first {
	width: auto;
}
.flex-control-nav {
	display: block;
}
#flexslider-1 .flex-direction-nav {
	display: none;
}
.flexslider .caption {
	display: none;
}
.flexslider:hover .caption {
	display: block;
}
.caption {
	width: 400px;
}
.flexslider .slides img {
	width: auto;
}
.view-blog .views-row {
	width: 300px;
}
.view-blog .views-row-3, 
.view-blog .views-row-6, 
.view-blog .views-row-9, 
.view-blog .views-row-12 {
	margin-right: 0;
}