/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 
.caption {
	position: absolute;
	width: 180px;
}
ul.nice-menu-down {
	float: none;
}
ul.nice-menu-down li {
 	padding: 0 20px;
 }
 .block-views-gallery-portrait-block-2 img {
	height: 720px;
}
.view-blog .views-row-3, 
.view-blog .views-row-6, 
.view-blog .views-row-9, 
.view-blog .views-row-12 {
	margin-right: 0;
}
.view-blog .node-blog, 
.block-block-3, 
.block-block-4, 
.block-block-2, 
.block-block-1 {
	width: 300px;
	height: auto;
}